body {
    margin: 0;
    padding: 0;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  section {
    background-color: white;
    border-radius: 5%;
    padding: 25px;
    width: 70%;
    height: 90%;
  }
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 235, 235);
    width: 100%;
    height: 100vh;
  }
  header {
    display: flex;
    justify-content: center;
  }
  /* Estilo general para la tabla */
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    background-color: #f9f9f9;
    border-radius: 5%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  /* Encabezado de la tabla */
  thead th {
    background-color: #007bff;
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #dddddd;
  }

  /* Filas de la tabla */
  tbody tr {
    border-bottom: 1px solid #dddddd;
  }

  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  /* Celdas de la tabla */
  td {
    padding: 10px;
    border: 1px solid #dddddd;
  }

  /* Efecto hover para las filas */
  tbody tr:hover {
    background-color: #eaf4fc;
    cursor: pointer;
  }

  /* Opcional: Alinear las columnas de texto */
  td:nth-child(3) {
    text-align: center; /* Centrar la columna de edad */
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .miInput {
    display: flex;
    flex-direction: column;
    margin: 5px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  label {
    color: #007bff;
    font-size: larger;
  }
  input {
    width: 395px;
    height: 40px;

    border: #a5a5a5 solid 1px;
    padding: 2px;
  }
  button {
    width: 400px;
    height: 40px;
    background-color: #007bff;
    color: white;
    padding: 2px;
    border: none;
    font-size: larger;
  }